@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin spanStyle() {
  font-size: 0.9rem;
  line-height: 18px;
  letter-spacing: 4.5px;
  font-weight: 300;
  text-transform: uppercase;
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
@keyframes Inscroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-320px * 5));
  }
}
#About {
  overflow: hidden;
  font-family: Roboto, sans-serif;
  & > section {
    padding: 125px 15vw;
  }
  .main {
    width: 100%;
    height: 100vh;
    @include display();
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: var(--white-col);
    .overlay {
      @include overlay();
    }
    * {
      z-index: 1;
    }
    & > span {
      @include spanStyle();
    }
    & > .txt {
      opacity: 0;
      animation: animate 1s linear forwards;
    }
    & > h1 {
      opacity: 0;
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 3.5rem;
      line-height: 3.5rem;
      width: 60%;
      text-align: center;
      animation: 1s animate 1s linear forwards;
    }
  }
  .desc {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 125px;
    transform: translateY(10vh);
    opacity: 0;
    transition: all 1s ease-in;
    &.roll-in {
      transform: translateY(0);
      opacity: 1;
    }
    .img-container {
      width: 370px;
      height: 465px;
      justify-content: flex-start;
      img {
        object-fit: cover;
      }
    }
    .stuff-container {
      width: calc(90% - 370px);
      text-align: left;
      * {
        word-wrap: break-word;
      }
      & > span {
        @include spanStyle();
      }
      h2 {
        margin: 18px 0px;
        margin-bottom: 0;
        letter-spacing: 0.9px;
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
        color: var(--black-col);
      }
      p {
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        color: var(--grey-col);
        margin: 15px 0px;
      }
      h4 {
        @include spanStyle();
        margin: 23px 0px;
      }
      ul {
        padding-left: 20px;

        li {
          color: var(--grey-col);
          font-size: 1rem;
          line-height: 32px;
        }
      }
    }
  }

  .services {
    width: 100%;
    height: 70vh;
    @include display();
    overflow: hidden;
    flex-direction: column;
    position: relative;
    padding: 0px;
    & > .img-container {
      position: absolute;
      height: 50%;
      width: 100%;
      z-index: 0;
      top: 0;
      img {
        object-fit: cover;
      }
      .overlay {
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
      }
    }

    .stuff-container {
      position: absolute;
      z-index: 2;
      width: 90%;
      display: flex;
      flex-direction: column;
      span {
        @include spanStyle();
        display: flex;
        justify-content: flex-start;
        font-size: 18px;
        font-weight: 500;
        text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
      }
      h4 {
        display: flex;
        align-items: flex-start;
        margin: 18px 0px;
        letter-spacing: 0.9px;
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
        text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px grey, 0 -1px grey;
      }
      .cust {
        text-decoration: none;
        color: var(--black-col);
        height: 45px;
        aspect-ratio: 3.5;
        margin-top: 45px;
        align-self: flex-end;
        display: grid;
        place-items: center;
        border: 1px solid var(--black-col);
        transition: all 0.5s ease-in-out;
        &:hover {
          color: var(--white-col);
          background-color: var(--black-col);
        }
      }
      .cards-container {
        width: calc(10 * 320px);
        @include display();
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0);
        color: var(--black-col);
        animation: 10s Inscroll 0s linear infinite;
        .card {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          aspect-ratio: 1;
          margin-right: 20px;
          width: 300px;
          box-shadow: 0px 0px 20px -10px var(--black-col);
          padding: 20px 15px;
          background-color: var(--white-col);
          & > .img-container {
            width: 95%;
            aspect-ratio: 1;
            img {
              object-fit: cover;
            }
          }

          h3 {
            font-size: 2rem;
            line-height: 2rem;
            width: 100%;
            text-align: center;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  @keyframes Inscroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-105px * 5));
    }
  }
  #About {
    .main {
      width: 100%;
      height: 70vh;

      span {
        font-size: 0.6rem;
        line-height: 9px;
        letter-spacing: 0.2rem;
        font-weight: 300;
      }
      h1 {
        width: 100%;
        margin-top: 2vh;
        font-size: 2rem;
        line-height: 3rem;
      }
    }
    .desc {
      flex-direction: column;
      padding-top: 10vh;
      padding-bottom: 10vh;
      transform: translateY(0vh);
      opacity: 1;
      .img-container {
        height: 40vh;
        width: 100%;
      }
      .stuff-container {
        width: 100%;
        margin-top: 20px;
        text-align: center;

        p {
          font-size: 0.7rem;
          text-align: justify;
        }
        h2 {
          width: 100%;
          text-align: left;
          font-size: 1rem;
          line-height: 1.1rem;
          font-weight: 900;
        }
        h4 {
          font-size: 0.7rem;
          text-align: left;
        }
        ul,
        h4 {
          text-align: left;
          width: 100%;
          margin: auto;
        }
        ul {
          li {
            font-size: 0.7rem;
          }
        }
      }
    }
    .services {
      .stuff-container {
        padding: 1vh 2.5vw;
        width: 100%;
        h4 {
          font-size: 2rem;
        }
        .cards-container {
          width: calc(10 * 105px);
          .card {
            height: 100px;
            width: 100px;
            margin-right: 5px;
            box-shadow: 1px 5px 15px var(--black-col);
            padding: 1vh 1vw;
            .icon {
              font-size: 1.3rem;
              // width: 20%;
              // height: 30%;
            }
            h3 {
              width: 100%;
              text-align: center;
              font-size: 1rem;
              line-height: 1rem;
            }
            p {
              width: 100%;
              height: 50%;
              font-size: 0.6rem;
              line-height: 0.8rem;
              letter-spacing: 0.1rem;
            }
            a {
              width: 65%;
              height: 15%;
              @include display();
              border: 1px solid var(--grey-col);
              text-decoration: none;
              color: var(--black-col);
              position: relative;
              font-size: 0.8rem;
              &::after {
                display: none;
              }
              &::before {
                content: "";
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
