#Customers {
  min-height: calc(100vh - var(--footer-height));
  padding-top: calc(var(--header-height) + 10vh);
  display: grid;
  place-items: center;
  & > h2 {
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 4.5px;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  & > span {
    letter-spacing: 0.9px;
    font-size: 2.5rem;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 60px;
  }
  .component-container {
    width: 100%;
    padding: 50px 10vw;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    .type-container {
      display: flex;
      flex-direction: column;
      & > h2 {
        font-size: 2.5rem;
        line-height: 18px;
        letter-spacing: 0.9px;
        font-weight: 500;
        margin-bottom: 50px;
      }
      .card-container {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 1fr);
        gap: 5vw;
        .card {
          width: 100%;
          aspect-ratio: 1;
          display: grid;
          place-items: center;
          .card-content {
            width: 100%;
            aspect-ratio: 1;
            position: relative;
            & > .stuff-container {
              position: absolute;
              z-index: 1;
              transform: scaleX(1);
              transition: all 0.2s ease 0.2s;
              background-color: black;
              text-transform: capitalize;
              color: white;
              width: 100%;
              aspect-ratio: 1;
              display: grid;
              place-items: center;
              text-align: center;
            }
            & > .img-container {
              z-index: 0;
              position: absolute;
              height: 100%;
              aspect-ratio: 1;
              transform: scaleX(0);
              transition: all 0.2s ease 0s;
              & > img {
                object-fit: contain;
              }
            }
          }
          .card-content:hover {
            & > .stuff-container {
              transition: all 0.2s ease 0s;
              transform: scaleX(0);
            }
            & > .img-container {
              transition: all 0.2s ease 0.2s;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 900px) {
    h2 {
      font-size: 0.7rem;
      line-height: 1rem;
      letter-spacing: 0.5rem;
      font-weight: 300;
      margin-bottom: 1vh;
    }
    span {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.9rem;
    }
    .component-container {
      padding: 15px 10vw;
      .type-container {
        & > h2 {
          font-size: 1.25rem;
        }
        .card-container {
          grid-template-columns: repeat(3, 1fr);
          .card {
            .card-content {
              .img-container,
              .stuff-container {
                padding: 3px;
                & > h3 {
                  font-size: 0.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
